@charset "utf-8";

body{
  width: 500px;
  margin-right: auto;
  margin-left : auto;
  text-align : center;
}
h1{
	border-bottom:solid 1px #555;
  text-align : center;
}
p#time{
	font-size: 48pt;
	padding-top: 0.5em;
}
button{
	width:5em;
	padding:5pt;
	font-size: 20pt;
	border:solid 1px #757070;
	border-radius: 10pt;
}
button:hover{
	background-color: beige;
}
